
body
	font-family "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size 13px

h3.project
	span.name
		font-family 'Raleway' sans-serif

span.strong
	font-weight bold

.jumbotron p
	font-size 13px
	line-height: 22px
	text-align: justify